openapi: 3.0.3
info:
  title: EPACKAGE Lab B2B Workflow API
  description: |
    10단계 B2B 주문 프로세스를 위한 RESTful API

    워크플로우:
    1. Registration (회원가입)
    2. Quotation (견적)
    3. Order (주문)
    4. Data Entry (데이터입고)
    5. Work Order (작업표준서)
    6. Contract (계약서)
    7. Signing (전자서명)
    8. Production (생산)
    9. Stock In (입고)
    10. Shipment (출하)
  version: 1.0.0
  contact:
    name: EPACKAGE Lab
    email: api@epackage-lab.com

servers:
  - url: https://api.epackage-lab.com/api/v1
    description: Production server
  - url: https://staging-api.epackage-lab.com/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

tags:
  - name: Authentication
    description: 회원가입 및 인증
  - name: Quotations
    description: 견적 관리
  - name: Orders
    description: 주문 관리
  - name: Files
    description: 파일 및 데이터 입고
  - name: Work Orders
    description: 작업표준서 관리
  - name: Contracts
    description: 계약서 관리
  - name: Production
    description: 생산 관리
  - name: Inventory
    description: 재고 관리
  - name: Shipments
    description: 출하 관리
  - name: Admin
    description: 관리자 기능

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: 기업 회원가입
      description: 새로운 기업 회원을 등록합니다
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 회원가입 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/verify-email:
    get:
      tags: [Authentication]
      summary: 이메일 인증
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 인증 성공

  /auth/approve-user:
    post:
      tags: [Authentication]
      summary: 회원가입 승인 (관리자)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveUserRequest'
      responses:
        '200':
          description: 승인 처리 완료

  /quotations:
    post:
      tags: [Quotations]
      summary: 견적 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuotationRequest'
      responses:
        '201':
          description: 견적 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuotationResponse'
    get:
      tags: [Quotations]
      summary: 견적 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/StatusParam'
        - $ref: '#/components/parameters/UserIdParam'
        - $ref: '#/components/parameters/CompanyIdParam'
        - $ref: '#/components/parameters/FromDateParam'
        - $ref: '#/components/parameters/ToDateParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotationsResponse'

  /quotations/{id}:
    get:
      tags: [Quotations]
      summary: 견적 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuotationResponse'

  /quotations/{id}/calculate:
    post:
      tags: [Quotations]
      summary: 견적 가격 재계산
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateQuotationRequest'
      responses:
        '200':
          description: 계산 완료

  /quotations/{id}/approve:
    post:
      tags: [Quotations]
      summary: 견적 승인 및 주문 변환
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveQuotationRequest'
      responses:
        '200':
          description: 승인 및 주문 생성 완료

  /quotations/{id}/pdf:
    get:
      tags: [Quotations]
      summary: 견적서 PDF 다운로드
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: PDF 파일
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /orders:
    post:
      tags: [Orders]
      summary: 주문 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: 주문 생성 성공
    get:
      tags: [Orders]
      summary: 주문 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderStatusParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: 조회 성공

  /orders/{id}:
    get:
      tags: [Orders]
      summary: 주문 상세 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /orders/{id}/status:
    patch:
      tags: [Orders]
      summary: 주문 상태 변경
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
      responses:
        '200':
          description: 상태 변경 완료

  /orders/{id}/timeline:
    get:
      tags: [Orders]
      summary: 주문 타임라인 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /orders/{id}/files:
    post:
      tags: [Files]
      summary: 파일 업로드
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
      responses:
        '201':
          description: 업로드 성공
    get:
      tags: [Files]
      summary: 파일 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /orders/{id}/files/extract:
    post:
      tags: [Files]
      summary: AI 데이터 추출
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractDataRequest'
      responses:
        '200':
          description: 추출 완료

  /orders/{id}/files/validate:
    post:
      tags: [Files]
      summary: 데이터 검증
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateDataRequest'
      responses:
        '200':
          description: 검증 완료

  /work-orders:
    post:
      tags: [Work Orders]
      summary: 작업표준서 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkOrderRequest'
      responses:
        '201':
          description: 생성 성공

  /work-orders/{id}:
    get:
      tags: [Work Orders]
      summary: 작업표준서 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /work-orders/{id}/pdf:
    get:
      tags: [Work Orders]
      summary: 작업표준서 PDF
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: PDF 파일

  /work-orders/{id}/approve:
    post:
      tags: [Work Orders]
      summary: 작업표준서 승인
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveWorkOrderRequest'
      responses:
        '200':
          description: 승인 완료

  /contracts:
    post:
      tags: [Contracts]
      summary: 계약서 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      responses:
        '201':
          description: 생성 성공

  /contracts/{id}:
    get:
      tags: [Contracts]
      summary: 계약서 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /contracts/{id}/sign:
    post:
      tags: [Contracts]
      summary: 전자 서명
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignContractRequest'
      responses:
        '200':
          description: 서명 완료

  /contracts/{id}/pdf:
    get:
      tags: [Contracts]
      summary: 계약서 PDF
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: PDF 파일

  /contracts/{id}/verify:
    get:
      tags: [Contracts]
      summary: 서명 검증
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 검증 결과

  /orders/{id}/production:
    get:
      tags: [Production]
      summary: 생산 현황 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /orders/{id}/production/logs:
    post:
      tags: [Production]
      summary: 생산 진척 업데이트
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductionLogRequest'
      responses:
        '201':
          description: 업데이트 완료

  /orders/{id}/production/photos:
    post:
      tags: [Production]
      summary: 생산 사진 업로드
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadProductionPhotoRequest'
      responses:
        '201':
          description: 업로드 완료

  /orders/{id}/stock-in:
    post:
      tags: [Inventory]
      summary: 입고 처리
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockInRequest'
      responses:
        '201':
          description: 입고 완료

  /inventory:
    get:
      tags: [Inventory]
      summary: 재고 현황 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 조회 성공

  /inventory/adjust:
    post:
      tags: [Inventory]
      summary: 재고 조정
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustInventoryRequest'
      responses:
        '200':
          description: 조정 완료

  /orders/{id}/shipment:
    post:
      tags: [Shipments]
      summary: 배송 생성
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentRequest'
      responses:
        '201':
          description: 생성 성공

  /shipments/{id}/tracking:
    post:
      tags: [Shipments]
      summary: 배송 추적 업데이트
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShipmentTrackingRequest'
      responses:
        '201':
          description: 업데이트 완료
    get:
      tags: [Shipments]
      summary: 배송 추적 조회
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 조회 성공

  /admin/dashboard:
    get:
      tags: [Admin]
      summary: 대시보드 통계
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 조회 성공

  /admin/approvals:
    get:
      tags: [Admin]
      summary: 승인 대상 목록
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ApprovalTypeParam'
      responses:
        '200':
          description: 조회 성공

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 토큰 인증

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    StatusParam:
      name: status
      in: query
      schema:
        type: string
        enum: [DRAFT, SENT, APPROVED, REJECTED, EXPIRED, CONVERTED]

    OrderStatusParam:
      name: status
      in: query
      schema:
        type: string
        enum: [PENDING, QUOTATION, DATA_RECEIVED, WORK_ORDER, CONTRACT_SENT, CONTRACT_SIGNED, PRODUCTION, STOCK_IN, SHIPPED, DELIVERED, CANCELLED]

    UserIdParam:
      name: user_id
      in: query
      schema:
        type: string

    CompanyIdParam:
      name: company_id
      in: query
      schema:
        type: string

    FromDateParam:
      name: from_date
      in: query
      schema:
        type: string
        format: date

    ToDateParam:
      name: to_date
      in: query
      schema:
        type: string
        format: date

    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100

    SortParam:
      name: sort
      in: query
      schema:
        type: string
        enum: [created_at, total_amount, valid_until]

    OrderParam:
      name: order
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc

    ApprovalTypeParam:
      name: type
      in: query
      schema:
        type: string
        enum: [registrations, quotations, work_orders, all]

  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - kanji_last_name
        - kanji_first_name
        - kana_last_name
        - kana_first_name
        - business_type
        - product_category
        - postal_code
        - prefecture
        - city
        - street
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        kanji_last_name:
          type: string
        kanji_first_name:
          type: string
        kana_last_name:
          type: string
        kana_first_name:
          type: string
        personal_phone:
          type: string
        business_type:
          type: string
          enum: [INDIVIDUAL, CORPORATION]
        company_name:
          type: string
        legal_entity_number:
          type: string
          pattern: '^\d{13}$'
        position:
          type: string
        department:
          type: string
        company_url:
          type: string
        product_category:
          type: string
          enum: [COSMETICS, CLOTHING, ELECTRONICS, KITCHEN, FURNITURE, OTHER]
        postal_code:
          type: string
        prefecture:
          type: string
        city:
          type: string
        street:
          type: string
        acquisition_channel:
          type: string

    RegisterResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            user_id:
              type: string
            email:
              type: string
            status:
              type: string
            message:
              type: string

    ApproveUserRequest:
      type: object
      required:
        - user_id
        - approve
      properties:
        user_id:
          type: string
        approve:
          type: boolean
        rejection_reason:
          type: string

    CreateQuotationRequest:
      type: object
      required:
        - customer_name
        - customer_email
        - items
      properties:
        customer_name:
          type: string
        customer_email:
          type: string
        customer_phone:
          type: string
        items:
          type: array
          items:
            type: object
            required:
              - product_name
              - quantity
              - unit_price
            properties:
              product_name:
                type: string
              product_code:
                type: string
              category:
                type: string
              quantity:
                type: integer
                minimum: 1
              unit_price:
                type: number
                minimum: 0
              specifications:
                type: object
              notes:
                type: string
        valid_days:
          type: integer
          minimum: 7
          maximum: 90
        notes:
          type: string

    CreateQuotationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
            quotation_number:
              type: string
            status:
              type: string
            subtotal_amount:
              type: number
            tax_amount:
              type: number
            total_amount:
              type: number
            valid_until:
              type: string
            created_at:
              type: string

    ApproveQuotationRequest:
      type: object
      required:
        - delivery_address_id
        - billing_address_id
      properties:
        delivery_address_id:
          type: string
        billing_address_id:
          type: string
        notes:
          type: string

    CreateOrderRequest:
      type: object
      required:
        - quotation_id
        - delivery_address_id
        - billing_address_id
      properties:
        quotation_id:
          type: string
        delivery_address_id:
          type: string
        billing_address_id:
          type: string
        notes:
          type: string

    UpdateOrderStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
        reason:
          type: string
        metadata:
          type: object

    UploadFileRequest:
      type: object
      required:
        - file
        - file_type
      properties:
        file:
          type: string
          format: binary
        file_type:
          type: string
          enum: [AI, PDF, PSD, PNG, JPG, EXCEL, OTHER]
        data_type:
          type: string
        title:
          type: string
        description:
          type: string
        version:
          type: string

    ExtractDataRequest:
      type: object
      required:
        - file_id
      properties:
        file_id:
          type: string
        extract_type:
          type: string

    CreateWorkOrderRequest:
      type: object
      required:
        - order_id
        - title
        - specifications
      properties:
        order_id:
          type: string
        title:
          type: string
        specifications:
          type: object
        production_flow:
          type: array
        quality_standards:
          type: object
        packaging_specs:
          type: object
        estimated_completion:
          type: string

    CreateContractRequest:
      type: object
      required:
        - order_id
        - company_id
        - customer_name
        - total_amount
      properties:
        order_id:
          type: string
        company_id:
          type: string
        customer_name:
          type: string
        customer_representative:
          type: string
        total_amount:
          type: number
        currency:
          type: string
        terms:
          type: object

    SignContractRequest:
      type: object
      required:
        - signer
        - signature_data
      properties:
        signer:
          type: string
          enum: [customer, admin]
        signature_data:
          type: string

    CreateProductionLogRequest:
      type: object
      required:
        - sub_status
        - progress_percentage
      properties:
        sub_status:
          type: string
          enum: [design_received, work_order_created, material_prepared, printing, lamination, slitting, pouch_making, qc_passed, packaged]
        progress_percentage:
          type: number
          minimum: 0
          maximum: 100
        assigned_to:
          type: string
        notes:
          type: string
        photo_url:
          type: string
        measurements:
          type: object

    StockInRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
        notes:
          type: string

    AdjustInventoryRequest:
      type: object
      required:
        - product_id
        - quantity
        - transaction_type
        - reason
      properties:
        product_id:
          type: string
        quantity:
          type: number
        transaction_type:
          type: string
        reason:
          type: string

    CreateShipmentRequest:
      type: object
      required:
        - delivery_address_id
        - carrier_name
        - shipping_method
      properties:
        delivery_address_id:
          type: string
        carrier_name:
          type: string
        service_level:
          type: string
        shipping_method:
          type: string
          enum: [ground, air, sea, rail, courier]
        shipping_cost:
          type: number

    UpdateShipmentTrackingRequest:
      type: object
      required:
        - status_code
        - status_description
        - event_at
      properties:
        status_code:
          type: string
        status_description:
          type: string
        location:
          type: string
        event_at:
          type: string

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: 리소스 충돌
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: 인증되지 않음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
